* { box-sizing: border-box; }

.navbar {
  background: #DC3522;
}

.navbar span {
  color: #D9CB9E;
  margin-right: 10px;
}

.main {
  background: #D9CB9E;
  text-align: center;
  padding: 10px 0 10px 0;
}

.container a {
  text-decoration: none;
  background: #DC3522;
  color: #D9CB9E;
  padding: 5px 10px 5px 10px;
  border-radius: 50px;
  font-weight: bold;
}

.container a:hover {
  color: #FFF;
}

.modal-header {
  background: #DC3522;
  color: #D9CB9E;
}

/* Grid */
.grid {
  background: #D9CB9E;
  padding: 5px;
}

/* Clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* Items grid */
.grid-item {
  width: 160px;
  min-height: 120px;
  float: left;
  background: #DC3522;
  border: 2px solid #D9CB9E;
  border-radius: 5px;
}

/* Grid elements */
.grid-title {
  color: #D9CB9E;
  font-size: 1.2em;
  padding: 5px 5px 0 5px;
}

.grid-group {
  padding-right: 5px;
  float: right;
}

.grid-group .btn {
  padding: 5px;
}
