.navbar {
  background: #DC3522;
}

.navbar span {
  color: #D9CB9E;
  margin-right: 10px;
}

.main {
  background: #D9CB9E;
  text-align: center;
  padding: 10px 0 10px 0;
}

.container a {
  text-decoration: none;
  background: #DC3522;
  color: #D9CB9E;
  padding: 5px 10px 5px 10px;
  border-radius: 50px;
  font-weight: bold;
}

.container a:hover {
  color: #FFF;
}
