<div class="container main">
  <img src="/public/img/logo.png" />
  <h2 class="title">PintIt!</h2>
  <p class='empty-meta'>Publish your favorite pictures {and other stuffs}</p>
</div>
<div class="grid">
  <div class="grid-item">
    <img src="https://pixabay.com/static/uploads/photo/2014/03/29/09/17/cat-300572_960_720.jpg" class="img-responsive" />
    <p class="grid-title">Normal Cat</p>
    <p class="grid-description">Description</p>
    <div class="grid-group">
      <button class="btn btn-link">You</button>
      <button class="btn btn-link"><i class="fa fa-heart"></i> 23</button>
      <button class="btn btn-link"><i class="fa fa-retweet"></i> 45</button>
    </div>
  </div>
  <div class="grid-item">
    <img src="http://www.aspca.org/sites/default/files/cat-care_cat-nutrition-tips_overweight_body4_left.jpg" class="img-responsive" />
    <p class="grid-title">Curious Cat</p>
    <p class="grid-description">Description</p>
    <div class="grid-group">
      <button class="btn btn-link">You</button>
      <button class="btn btn-link"><i class="fa fa-heart"></i> 23</button>
      <button class="btn btn-link"><i class="fa fa-retweet"></i> 45</button>
    </div>
  </div>
  <div class="grid-item">
    <img src="https://s-media-cache-ak0.pinimg.com/564x/13/fc/2a/13fc2aef1e8942ec0828dbcf8e5a0c18.jpg" class="img-responsive" />
    <p class="grid-title">Ice Cat</p>
    <p class="grid-description">Description</p>
    <div class="grid-group">
      <button class="btn btn-link">You</button>
      <button class="btn btn-link"><i class="fa fa-heart"></i> 23</button>
      <button class="btn btn-link"><i class="fa fa-retweet"></i> 45</button>
    </div>
  </div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item">
    <img src="http://s.newsweek.com/sites/www.newsweek.com/files/styles/lg/public/2016/05/25/saudi-arabia-cat-ban.jpg" class="img-responsive" />
    <p class="grid-title">Clean Cat</p>
    <p class="grid-description">Description</p>
    <div class="grid-group">
      <button class="btn btn-link">You</button>
      <button class="btn btn-link"><i class="fa fa-heart"></i> 23</button>
      <button class="btn btn-link"><i class="fa fa-retweet"></i> 45</button>
    </div>
  </div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
</div>
