<div class="container main">
  <img src="/public/img/logo.png" />
  <h2 class="title">PintIt!</h2>
  <p class='empty-meta'>Publish your favorite pictures {and other stuff}</p>
</div>
<div class="grid">
<div masonry='{ "transitionDuration" : "0.4s" , "itemSelector" : ".grid-item"}' >
  <div masonry-tile class="grid-item" ng-repeat="pin in pins">
    <img ng-src="{{ pin.src }}" data-featherlight="{{ pin.src }}" class="img-responsive" onerror="this.src='/public/img/404.jpg'" />
    <p class="grid-title">{{ pin.title }}</p>
    <div class="grid-group">
      <a class="btn btn-link" href="#/user/{{ pin.user.id }}">{{ pin.user.name }}</a>
      <button class="btn btn-link"><i class="fa fa-heart"></i> {{ pin.likes.length }}</button>
      <button class="btn btn-link"><i class="fa fa-retweet"></i> {{ pin.repin.length }}</button>
    </div>
  </div>
</div>
</div>
